.questionPanel {
    text-align: center;
}

.questionDisplay {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.questionDisplay > div {
    margin: 0.75%;
}

.inputStyle {
    display: flex;
    flex-direction: row;
}

#top {
    overflow-wrap: break-word;
}

#modalButton {
    margin-top: -20%;
}

#topicLabel {
    width: 75%;
}